<h1>Listing content_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @content_types.each do |content_type| %>
  <tr>
    <td><%=h content_type.name %></td>
    <td><%= link_to 'Show', content_type %></td>
    <td><%= link_to 'Edit', edit_content_type_path(content_type) %></td>
    <td><%= link_to 'Destroy', content_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New content_type', new_content_type_path %>