<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Coach - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <ul class="inline">
    <li><%= link_to "Docs", docs_path %></li>
    <li><%= link_to "Teams", teams_path %></li>
    <li><%= link_to "Content Types", content_types_path %></li>
    <li><%= link_to "Doc Types", doc_types_path %></li>
    <li><%= link_to "Tags", tags_path %></li>
  </ul>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
